<!-- Footer el id y el style son utilizados para ocultar el footer cuando es necesario-->
<footer class="elfooter small text-center text-white-50" id="foot">
    <div class="container-fluid p-4 text-center">
        <section>
            <div class="row">
                <h5 class="card-title m-2">Fundacion San Martín de Tours</h5>
                <div class="links">
                    <a href="https://www.facebook.com/" target="_blank"><img class="m-2" src="assets/facebook.svg"
                            alt="Facebook" width="32" height="32"></a>
                    <a href="https://www.instagram.com/" target="_blank"><img class="m-2" src="assets/instagram.svg"
                            alt="Intagram" width="32" height="32"></a>
                    <a href="https://twitter.com/" target="_blank"><img class="m-2" src="assets/twitter.svg"
                            alt="twitter" width="32" height="32"></a>
                    <a href="https://www.youtube.com/" target="_blank"><img class="m-2" src="assets/youtube.svg"
                            alt="Youtube" width="32" height="32"></a>
                </div>
                <div>
                    <a class="btn btn-outline-warning m-2" style="border:none;" href="#">Encontranos</a>
                    <a class="btn btn-outline-warning m-2" style="border:none;" href="#">Donar</a>
                    <a class="btn btn-outline-warning m-2" style="border:none;" href="#">Estatuto</a>
                </div>
            </div>
        </section>
    </div>
</footer>

<script src="view\administrador\administrador.js"></script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-O0_kYkgNot1Csv8Y8lcecnffUtwl6hw&callback=initMap">
</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/slider.js"></script>

</body>

</html>
